body {
	font-size: 16px;
	color: #B22222;
	background-color: #F5F5DC;
	font-family: 'Oxygen', sans-serif; 
}

/* HEADER */
#header-nav {
	background-color: #FF7F50;
	border-radius: 0;
	border: 0;
	color: #F8F8FF;
}

.navbar-brand p {
	color: #F8F8FF;
	font-size: 18px;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

#nav-list a {
	text-align: center;
}

#nav-list a:hover {
	background-color: #8243d6;
}
/* END HEADER */

/* Section */
#home {
	margin-bottom: 25px;
}

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: #DEB887;
	text-align: justify;
	margin-bottom: 15px;
	padding: 14px;
	color: #000000;
}
/* End Section */


@media (max-width: 767px) {
	.row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}
}